@media screen and (min-width: 480px) {
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  
  #primary {
    margin-right: 5;
    width: 50%;
    float: left;
  }
  
.hero h1 {
    text-align: center;
  }
  
  
  /**********************************
  PAGE: ABOUT
  ***********************************/
  
  .profile-photo {
    float: left;
    margin: 5% 5% 70px 0;
  }
  
}



@media screen and (max-width: 1200px) {

    .BoldTitle{
        text-align: center;
        padding: 1%;
        font-size: .25em;
    }
    
    .resumeDownloadTitle{
        filter: alpha(opacity=85); /* For IE8 and earlier */
        box-shadow: 0 0 4px 4px #555;
        margin: 0;
    }
    
}



@media screen and (max-width: 1100px) {

    .BoldTitle{
        text-align: center;
        padding: 1%;
        font-size: .25em;
    }
    
    .resumeDownloadTitle{
        filter: alpha(opacity=85); /* For IE8 and earlier */
        box-shadow: 0 0 4px 4px #555;
    }
    
}
@media screen and (max-width: 5000px) {

    div#form_sample{
        text-align:center;
        width:90%;
        padding: 1%;
        border-radius:6px;
        float:left;
    }
    
    #contact{
        display: inline-block;
        width: 100%;
    }
    
    #primary{
        padding:0;
    }

    .AboutMeSection{
        padding: 3%;        
    }
    
    .github-text {
        text-align: center;
    }
    .github-photo{
        
        width: 40%
    }

}

@media screen and (max-width: 900px) {

    div#main{
        display: none; 
    }
    
}


@media screen and (max-width: 850px) {

    .BoldTitle{
        text-align: center;
        padding: 1%;
    }
    .resumeDownloadTitle{
        filter: alpha(opacity=85); /* For IE8 and earlier */
        box-shadow: 0 0 4px 4px #555;
    }
    



}

@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #033B9C;

  }
  .BoldTitle{
    text-align: center;
    font-size: 2.5em;

  }
    
 h3{
        padding: 0;
        margin: 0;
    }

}

 
@media screen and (max-width: 460px){
    

    .hero h1 {
    text-align: center;
    font-size: 2em;

  }
    .BoldTitle{
    text-align: center;
    padding: 1%;
    font-size: .25em; 
  }
    .resumeImage{
        margin-top: 10%
    }

    .profile-photo {
    margin: auto;
    width: 50%;
        
  }
    .resumeDownloadTitle{
        filter: alpha(opacity=85); /* For IE8 and earlier */
    box-shadow: 0 0 2px 2px #555;
  }
    .hero, .heroResume{
        margin: 0px;
        padding: 0;
    }
    
    .AboutMeSection, .AboutMeSectionContent{
        margin: 0;
        padding: 1%;
    }


}

@media screen and (max-width: 740px){
    .hero {
        padding: 100px 10%;
    }
    .heroResume {
        padding: 50px 10%;
    }
    .BoldTitle{
        text-align: center;
        font-size: 1.5em;
    }
    
    div#main{
        display: none; }
    }

}

@media screen and (max-width: 436px){
    div#main{
        display: none; }
    }



