@media screen and (min-width: 480px) {
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  
  #primary {
    margin-right: 5;
    width: 50%;
    float: left;
  }
  
    #primary p {
        color: back;
        
    }
  #secondary {
    width: 40%;
    float: right;
  }
    
    

.hero h1 {
    text-align: center;

  }
  
  
  /**********************************
  PAGE: PORTFOLIO
  ***********************************/
    .gallery li {width: 28.33333%}
  .gallery li:nth-child(4n) {
    clear: left;
  }
  
  /**********************************
  PAGE: ABOUT
  ***********************************/
  
  .profile-photo {
    float: left;
    margin: 5% 5% 70px 0;
  }
  
}

@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #2C91BC;

  }

  
}

 
@media screen and (max-width: 460px){
    

.gallery li {
    width: 80%;
    margin: 10%;
  }

    .hero h1 {
    text-align: center;
    font-size: 2.5em;

  }
    .profile-photo {
    margin-top: 10%;
  }
    
}

@media screen and (max-width: 740px){
.hero {
    padding: 300px 10%;
  }

}

@media screen and (max-width: 1190px){
div#main{
    display: none; }}
    

    
}
